<script setup lang="ts">
import DeclarativeRendering from './components/DeclarativeRendering.vue'
import AttributeBindings from './components/AttributeBindings.vue'
import EventListeners from './components/EventListeners.vue'
import FromBindings from './components/FromBindings.vue'
import ConditionalRendering from './components/ConditionalRendering.vue'
import ListRendering from './components/ListRendering.vue'

</script>
<template>
  <ListRendering />
  <ConditionalRendering />
  
  <h1>Hello World</h1>
  <DeclarativeRendering />
  <AttributeBindings />
  <EventListeners />
  <FromBindings />
  
</template>
